  $error-light-color: #FFE5E5;
  $success-color: #46AF32;
  $primary-color: #4B9CE2; 
  $button-light-color: #F0F8FF;
  $error-color: #F77474;
  $text-color: #3E3E3E;
  $text-light-color: #525252;
  $text-passive-color: #B1B1B1;
  $background-bold-color: #EAEAEA;
  $background-color: #F2F2F2;
  $background-light-color: #FFFFFF;
  $input-background-color: #F4F4F4;
  $detail-text-color: #555555;
