@import '../../styles/mixins';

.header {
    background-color: $background-light-color;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    .headerContent {
        margin: 0 auto;
        width: 1480px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo {
            height: 45px;
            margin-bottom: 20px;
            cursor: pointer;
        
            > img {
                height: 100%;
                object-fit: cover;
            }
        }
        .rightContent {
            display: flex;
            align-items: center;
            .addProduct,
            .account {
                display: flex;
                align-items: center;
                padding: 10px 20px;
                height: 40px;
                background-color: $button-light-color;
                color: $primary-color;
                border-radius: 8px;
                cursor: pointer;
                > svg {
                    margin-right: 5px;
                }
            }
            .addProduct {
                margin-right: 15px;
                cursor: pointer;
            }
        }
    }
}












