@import '../../styles/mixins';

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginPage {
    height: 100vh;
    display: flex;
    
    .loginpic {
    width: 40%;
    height: 100%;
    background-color: red;
    position: relative;
    }

    .rightSide {
        width: 60%;
        @extend .center;
        color: $text-color;

        .loginWrap {
            display: flex;
            flex-direction: column;
            align-items: center;
            
            .loginLogo {
                padding: 55px 0;

            }
            .loginHeader {
                text-align: center;
            }
            
            .loginArea {
                background-color: $background-light-color ;
                padding: 70px 90px;
                border-radius: 8px;
                box-shadow: 0px 3px 12px #1E36480A;
            }
            
            .loginForm {
                display: flex;
                flex-direction: column;
                width: 390px;
                align-items: stretch;
                padding-top: 50px;

                .formControl {
                    padding: 7.5px 0;
                    
                    .formLabel {
                        font-size: 15px;
                        padding-bottom: 5px;
                    }

                    input {
                        width: 100%;
                        height: 45px;
                        padding: 15px;
                        background-color: $input-background-color;
                        border-radius: 8px;
                    }
                }
                .forgotPw {
                    text-align: end;
                    font-size: 12px;
                    color: $text-passive-color;
                }
            }
        }
    }
}



